@import "../../../../styles/_utilities";

.main-component {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  &__content {
    @media (min-width: $mobile) and (max-width: $tablet) {
      padding: rem(33);
    }
  }

  &__logo {
    background-image: url("../../../../assets/senha.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: rem(100);
    width: rem(100);
    margin: 0 auto;
  }
}
