@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Gilroy/Gilroy-Regular.eot");
  src: url("../fonts/Gilroy/Gilroy-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Gilroy/Gilroy-Regular.woff2") format("woff2"),
    url("../fonts/Gilroy/Gilroy-Regular.woff") format("woff"),
    url("../fonts/Gilroy/Gilroy-Regular.ttf") format("truetype"),
    url("../fonts/Gilroy/Gilroy-Regular.svg#Gilroy-Regular") format("svg");
}

@font-face {
  font-family: "Gilroy Medium";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Gilroy/Gilroy-Medium.eot");
  src: url("../fonts/Gilroy/Gilroy-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Gilroy/Gilroy-Medium.woff2") format("woff2"),
    url("../fonts/Gilroy/Gilroy-Medium.woff") format("woff"),
    url("../fonts/Gilroy/Gilroy-Medium.ttf") format("truetype"),
    url("../fonts/Gilroy/Gilroy-Medium.svg#Gilroy-Medium") format("svg");
}

@font-face {
  font-family: "Gilroy SemiBold";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Gilroy/Gilroy-SemiBold.eot");
  src: url("../fonts/Gilroy/Gilroy-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Gilroy/Gilroy-SemiBold.woff2") format("woff2"),
    url("../fonts/Gilroy/Gilroy-SemiBold.woff") format("woff"),
    url("../fonts/Gilroy/Gilroy-SemiBold.ttf") format("truetype"),
    url("../fonts/Gilroy/Gilroy-SemiBold.svg#Gilroy-SemiBold") format("svg");
}

@font-face {
  font-family: "Gilroy Bold";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Gilroy/Gilroy-Bold.eot");
  src: url("../fonts/Gilroy/Gilroy-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gilroy/Gilroy-Bold.woff2") format("woff2"),
    url("../fonts/Gilroy/Gilroy-Bold.woff") format("woff"),
    url("../fonts/Gilroy/Gilroy-Bold.ttf") format("truetype"),
    url("../fonts/Gilroy/Gilroy-Bold.svg#Gilroy-Bold") format("svg");
}

@font-face {
  font-family: "Gilroy Black";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Gilroy/Gilroy-Black.eot");
  src: url("../fonts/Gilroy/Gilroy-Black.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Gilroy/Gilroy-Black.woff2") format("woff2"),
    url("../fonts/Gilroy/Gilroy-Black.woff") format("woff"),
    url("../fonts/Gilroy/Gilroy-Black.ttf") format("truetype"),
    url("../fonts/Gilroy/Gilroy-Black.svg#Gilroy-Black") format("svg");
}
